.trips__items {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin: 10px 0 0 0;
}

.add-trips-button {
    color: white !important;
    font-weight: 500 !important;
}

.trips__item {
    display: flex;
    width: 600px;
    flex-direction: column;
    background: white;
    border-radius: 20px;
    margin: 0 0 10px 0;
    padding: 20px 40px;
    position: relative;
}

.trips__item svg {
    position: absolute;
    right: 10px;
    top: 5px;
}

.trips-item__top {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 0 10px 0;
}

.trips-item-top__distance {
    position: relative;
    color: rgb(35, 33, 33);
    font-weight: 500;
}

.trips-item-top__line {
    width: 100%;

}

.trips-item-top__line img {
    margin: 0 10px;
    width: 90%;
}

.trips-item__down {
    padding: 10px 0 0 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.trips-item-down__text span {
    font-weight: 500;
}


.form-add-trips {
    width: 500px;
}

@media (max-width: 513.98px) {
    .form-add-trips {
        width: 100%;
    }
}

/* ADD-TRIPS MODAL */

.page__add-trips {
    position: fixed;
    top: -100%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(97, 97, 97, 0.603);
    pointer-events: none;
    opacity: 0;
    transition: all 0.5s ease 0s;
    z-index: 9999;
}


.page__add-trips.visible {
    opacity: 1;
    top: 0;
    pointer-events: all;
}

.form-add-trips {
    background: #fff;
    padding: 20px 40px;
    position: relative;
}

.button-add-trips {
    background: #2bcea9 !important;
    border: 1px solid #2bcea9 !important;
}
.button-add-trips:hover {
    background: #2bcea8e0 !important;
    border: 1px solid #2bcea8e0 !important;
}